{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributesGeneric'>
  <section class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.NT'}}</label>
      <input type='text' name='system.NT' value='{{system.NT}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Weight'}}</label>
      <input type='text' name='system.Weight' value='{{system.Weight}}' data-dtype='Number' />
    </div>
  </section>
</section>