{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributesMeleeWeapon'>
  <section class='grid grid-4col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.NT' }}</label>
      <input type='text' name='system.NT' value='{{system.NT}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Goal'}}</label>
      <input type='text' name='system.Goal' value='{{system.Goal}}' />
    </div>
    <div class=' resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Damage'}}</label>
      <input type='text' name='system.Damage' value='{{system.Damage}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.MinStrength'}}</label>
      <input type='text' name='system.MinStrength' value='{{system.MinStrength}}' data-dtype='Number' />
    </div>
  </section>
    <section class='grid grid-4col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Agora'}}</label>
      <input type='text' name='system.Agora' value='{{system.Agora}}' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Weight'}}</label>
      <input type='text' name='system.Weight' value='{{system.Weight}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Features'}}</label>
      <input type='text' name='system.Features' value='{{system.Features}}' />
    </div>
     <div class='resource'>
      <label class='resource-label'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS.Size'}}</label>
      <input type="text" name="system.Size" value='{{system.Size}}'>
    </div>
  </section>

  </section>