{{! Gear Tab }}

<section class='tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>

<div class='resources grid grid-4col'>
  <div class='resource flex-group-center'>
    <label for='system.rank.value' class='resource-label'>
      {{localize 'FADING_SUNS.Actor.Character.FIELDS.Money.label'}}
    </label>

    <div class='resource-content flexrow flex-center flex-between'>
      <input name='system.money.value' type='text' value='{{system.money.value}}' placeholder='Money' />
    </div>
  </div>
</div>  

<h6>{{localize 'FADING_SUNS.ItemTitles.Generic'}}</h4>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-NT'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS_SHORT.NT'}}</div>
      <div class='item-Weight'>{{localize 'FADING_SUNS.Item.Weapon.FIELDS_SHORT.Weight'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a
            class='item-control item-create'
            title='{{localize "DOCUMENT.Create" type='Generic'}}'
            data-action='createDoc'
            data-document-class='Item'
            data-type='gear'
          >
            <i class='fas fa-plus'></i>
            {{localize 'DOCUMENT.New' type='Generic'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each generic as |item id|}}
      <li
        class='item flexrow items-content'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
      <div class='item-name' style="padding-left: 5px">
        {{item.name}}
      </div>
      <div class='item-NT'>{{item.system.NT}}</div>
      <div class='item-Weight'>{{item.system.Weight}}</div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='Generic'}}'
            data-action='viewDoc'
          >
            <i class='fas fa-edit'></i>
          </a>
          {{#if @root.editable}}
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type='Generic'}}'
              data-action='deleteDoc'
            >
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>


</section>