{{! Gear Tab }}

<section class='tab perks {{tab.cssClass}}' data-group='primary' data-tab='perks'>
<h6>{{localize 'FADING_SUNS.ItemTitles.Perks'}}</h4>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a
            class='item-control item-create'
            title='{{localize "DOCUMENT.Create" type='Item'}}'
            data-action='createDoc'
            data-document-class='Item'
            data-type='gear'
          >
            <i class='fas fa-plus'></i>
            {{localize 'DOCUMENT.New' type='item'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each perks as |item id|}}
      <li
        class='item flexrow items-content'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
      <div class='item-name' style="padding-left: 5px">
        {{item.name}}
      </div>

        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='MeleeWeapon'}}'
            data-action='viewDoc'
          >
            <i class='fas fa-edit'></i>
          </a>
          {{#if @root.editable}}
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type='MeleeWeapon'}}'
              data-action='deleteDoc'
            >
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

</section>