<div class="blood-img" style="background-image: url('{{getBloodBackground}}');">
  <h1>{{weaponDamage}}</h1>
  
  {{#if damageData}}
  <div class="damage-details">
    {{#if damageFormula}}
    <p>{{localize "FADING_SUNS.damageChat.damageFormula" formula=damageFormula}}</p>
    {{/if}}
    {{#if damageResult}}
    <p>{{localize "FADING_SUNS.damageChat.damageResult" result=damageResult}}</p>
    {{/if}}
    {{#if resistance}}
    <p>{{localize "FADING_SUNS.damageChat.resistance" resistance=resistance}}</p>
    {{/if}}
    {{#if finalDamage}}
    <p>{{localize "FADING_SUNS.damageChat.finalDamage" damage=finalDamage}}</p>
    {{/if}}
  </div>
  {{/if}}

  {{#if canIncreaseWithVP}}
  <div class="increase-damage-options">
    <h3>{{localize "FADING_SUNS.damageChat.increaseWithPoints"}}</h3>
    <div class="spend-vp-buttons">
      {{#each vpIncreaseOptions}}
        <button class="spend-vp-button-damage" 
                data-vp-cost="{{vpCost}}" 
                data-cache-cost="{{cacheCost}}" 
                data-damage-boost="{{damageBoost}}" 
                data-actor-id="{{../actorId}}">
          <i class="fas fa-arrow-up"></i>
          +{{damageBoost}} 
          {{#if cacheCost}}
            {{#if vpCost}}
              ({{cacheCost}} {{localize "FADING_SUNS.Cache"}} + {{vpCost}} {{localize "FADING_SUNS.VP"}})
            {{else}}
              ({{cacheCost}} {{localize "FADING_SUNS.Cache"}})
            {{/if}}
          {{else}}
            ({{vpCost}} {{localize "FADING_SUNS.VP"}})
          {{/if}}
        </button>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>