<div class="blood-img" style="background-image: url('{{getBloodBackground}}');">
  {{#if maneuver}}
  <h1>{{maneuver.name}} ({{total}})</h1>
  {{/if}}
  <div class='move-name'>{{message}}</div>
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">1d20</div>
      <div class="dice-tooltip">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header flexrow">
              <span class="part-formula">1d20</span>
              <span class="part-total">{{dice}}</span>
            </header>
            <ol class="dice-rolls">
              <li class="roll die d20 min">{{dice}}</li>
            </ol>
          </div>
        </section>
      </div>

      <div class='result-roll'>
        <div class='tooltip'>
          <h1 class='tooltiptext'>{{result}}</h1>
        </div>
      </div>
      <div class='move-name'>{{successMessage}}</div>
      <div class='move-name'>{{resistanceMessage}}</div>
      
      {{#if effectModifiers}}
      <div class="effect-modifiers">
        <h3>{{localize "FADING_SUNS.messages.EFFECT_MODIFIERS"}}</h3>
        <div class="effect-modifiers-list">
          {{#if effectModifiers.modifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.modifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-dice-d20"></i>
            <span>{{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.modifier}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.rollAdvantage}}
          <div class="effect-modifier positive">
            <i class="fas fa-arrow-up"></i>
            <span>{{localize "FADING_SUNS.messages.ADVANTAGE"}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.rollDisadvantage}}
          <div class="effect-modifier negative">
            <i class="fas fa-arrow-down"></i>
            <span>{{localize "FADING_SUNS.messages.DISADVANTAGE"}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.extraVPCost}}
          <div class="effect-modifier negative">
            <i class="fas fa-gem"></i>
            <span>{{localize "FADING_SUNS.messages.EXTRA_VP_COST"}}: {{effectModifiers.extraVPCost}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.perceptionModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.perceptionModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-eye"></i>
            <span>{{localize "FADING_SUNS.CharacteristicLong.per"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.perceptionModifier}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.physicalModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.physicalModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-fist-raised"></i>
            <span>{{localize "FADING_SUNS.CharacteristicParent.body"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.physicalModifier}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.mentalModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.mentalModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-brain"></i>
            <span>{{localize "FADING_SUNS.CharacteristicParent.mind"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.mentalModifier}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.socialModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.socialModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-users"></i>
            <span>{{localize "FADING_SUNS.CharacteristicParent.spirit"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.socialModifier}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.cannotAct}}
          <div class="effect-modifier negative">
            <i class="fas fa-ban"></i>
            <span>{{localize "FADING_SUNS.Roll.CannotAct"}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.autoFail}}
          <div class="effect-modifier negative">
            <i class="fas fa-times-circle"></i>
            <span>{{localize "FADING_SUNS.Roll.AutoFail"}}</span>
          </div>
          {{/if}}
          
          {{#if effectModifiers.randomTarget}}
          <div class="effect-modifier negative">
            <i class="fas fa-random"></i>
            <span>{{localize "FADING_SUNS.Roll.RandomTarget"}}</span>
          </div>
          {{/if}}
        </div>
      </div>
      {{/if}}
      
      {{#if canSpendVPToSucceed}}
      <div class="spend-vp-container">
        <p>{{localize "FADING_SUNS.messages.CAN_SPEND_VP_TO_SUCCEED" vpNeeded=vpNeededToSucceed}}</p>
        <button class="spend-vp-button rollable" data-action="spendVPToSucceed" data-vp-needed="{{vpNeededToSucceed}}" data-actor-id="{{actorId}}">
          {{localize "FADING_SUNS.messages.SPEND_VP_BUTTON" vpNeeded=vpNeededToSucceed}}
        </button>
      </div>
      {{/if}}
    </div>
  </div>
<!--        {{#if maxVPToMoveToBank}}
      <span>{{localize 'FADING_SUNS.messages.MOVE_TO_BANK'}}</span>
      {{#each maxVPToMoveToBank}}
      <span class="rollable" data-action="moveToBank" data-vp="{{this}}"  data-actor-id="{{../actorId}}">{{this}}</span>
      {{/each}}
      {{/if}}-->
</div>