<div class="fading-suns">
    
    <div class="items-header-roll">
        {{#if maneuver.name}}
             <div style="font-size: 24px;">{{maneuver.name}} </div>
        {{/if}}

        <div>
            {{skillTranslated}} ({{skillValue}}) + 
            {{ characteristicSelected }} {{ characteristicValueSelected }}
            {{#if victoryPointsSelected }} + {{ victoryPointsSelected }} {{localize 'FADING_SUNS.messages.VP'}} {{/if}}
            {{#if wyrdPointUsed }} + 3 ({{localize 'FADING_SUNS.messages.WYRD_POINT_USED'}}) {{/if}}
            {{#if extraModifiers }} + {{ extraModifiers }} ({{localize 'FADING_SUNS.messages.EXTRA_MODIFIERS_SHORT'}}) {{/if}}
            {{#if effectModifiers}}
                {{#if effectModifiers.modifier}} + {{effectModifiers.modifier}} ({{localize 'FADING_SUNS.messages.EFFECT_MODIFIERS_SHORT'}}){{/if}}
                {{#if effectModifiers.physicalModifier}}{{#if isPhysicalRoll}} + {{effectModifiers.physicalModifier}} ({{localize 'FADING_SUNS.messages.PHYSICAL_MOD_SHORT'}}){{/if}}{{/if}}
                {{#if effectModifiers.mentalModifier}}{{#if isMentalRoll}} + {{effectModifiers.mentalModifier}} ({{localize 'FADING_SUNS.messages.MENTAL_MOD_SHORT'}}){{/if}}{{/if}}
                {{#if effectModifiers.socialModifier}}{{#if isSocialRoll}} + {{effectModifiers.socialModifier}} ({{localize 'FADING_SUNS.messages.SOCIAL_MOD_SHORT'}}){{/if}}{{/if}}
                {{#if effectModifiers.perceptionModifier}}{{#if isPerceptionRoll}} + {{effectModifiers.perceptionModifier}} ({{localize 'FADING_SUNS.messages.PERCEPTION_MOD_SHORT'}}){{/if}}{{/if}}
            {{/if}}
        </div>
        <div style="font-size: 24px;">{{ totalRoll }}  </div>
    </div>
    {{#unless maneuver.name}}
    <section class="main grid-span-2">
        <section class="section-group">
        <div class="items-header-group">{{localize 'FADING_SUNS.messages.CharacteristicChoose'}} </div>
        <div class='resources grid grid-3col'>

        {{#each characteristicsTranslated as |item id|}}

            <div class='resource-content flexrow flex-center flex-between radio-data'>
                       <input name='characteristic' type='radio' value='{{item.key}}' {{#if (eq ../characteristic item.key)}} checked {{/if}} class='characteristicRadio'/ action="chooseCharacteristic">  <label for="{{item.key}}">{{item.translated}} ({{item.value}}) </label>
            </div>

            {{/each}}
        </div>

        </section>
    </section>
    {{/unless}}


    <section class="main grid-span-1">
        <section class="section-group">
        <div class="items-header-group">{{localize 'FADING_SUNS.messages.VictoryPointsChoose'}} </div>
        <div class='resources grid grid-{{victoryPoints}}col'>

        {{#for 0 victoryPoints 1}}
            <div class='resource-content flexrow flex-center flex-between radio-data'>
                <input name='victoryPointsSelected' type='radio' value='{{this}}' class='resistanceRadio'action="chooseResistance" {{#if (eq ../victoryPointsSelected this)}} checked {{/if}}>  <label for="{{this}}">{{this}}</label>
            </div>
        {{/for}}
        </div>

        </section>
    </section>
    

 <section class="main grid-span-1">



    <section class="main grid-span-2">
        <section class="section-group">
        <div class="items-header-group">{{localize 'FADING_SUNS.messages.OTHER_MODIFIERS'}} </div>
        <div class='resources grid grid-2col'>

            {{#if wyrdPoints}}
            <div class='flexrow flex-group-left'>
                <label for='system.planet'>
                        {{localize 'FADING_SUNS.messages.USE_WYRD_POINT'}}
                    </label>
                    <input name='wyrdPointUsed' type='checkbox' value='{{wyrdPointUsed}}' class='resistanceRadio'action="chooseResistance" {{#if wyrdPointUsed }} checked {{/if}} />
       
            </div>
            {{/if}}

            <div class='resource flex-group-center'>
    
                <div class='flexrow flex-group-center'>
                    <label for='system.planet'>
                        {{localize 'FADING_SUNS.messages.EXTRA_MODIFIERS'}}
                    </label>
                    <input name='extraModifiers' type='text' value='{{extraModifiers}}' />  
                </div>
            </div>
         
        </div>

        </section>
    </section>

    {{#if effectModifiers}}
    <section class="main grid-span-1">
      <section class="section-group">
        <div class="items-header-group">{{localize 'FADING_SUNS.messages.EFFECT_MODIFIERS'}}</div>
        <div class="effect-modifiers-list">
          {{#each activeEffects as |effect|}}
          <div class="effect-modifier {{#if effect.isPositive}}positive{{else}}negative{{/if}}">
            <input type="checkbox" 
                   class="effect-toggle" 
                   data-effect-id="{{effect.id}}" 
                   {{#unless effect.disabled}}checked{{/unless}}
            >
            <i class="{{effect.icon}}"></i>
            <span class="effect-name">{{effect.label}}</span>
            <span class="effect-value">{{#if effect.value}}({{effect.value}}){{/if}}</span>
          </div>
          {{/each}}

          {{#if effectModifiers.modifier}}
          <div class="effect-modifier">
            <i class="fas fa-dice-d20"></i>
            {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.modifier}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.rollAdvantage}}
          <div class="effect-modifier positive">
            <i class="fas fa-arrow-up"></i>
            {{localize "FADING_SUNS.messages.ADVANTAGE"}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.rollDisadvantage}}
          <div class="effect-modifier negative">
            <i class="fas fa-arrow-down"></i>
            {{localize "FADING_SUNS.messages.DISADVANTAGE"}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.extraVPCost}}
          <div class="effect-modifier negative">
            <i class="fas fa-gem"></i>
            {{localize "FADING_SUNS.messages.EXTRA_VP_COST"}}: {{effectModifiers.extraVPCost}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.perceptionModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.perceptionModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-eye"></i>
            {{localize "FADING_SUNS.CharacteristicLong.per"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.perceptionModifier}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.physicalModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.physicalModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-fist-raised"></i>
            {{localize "FADING_SUNS.CharacteristicParent.body"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.physicalModifier}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.mentalModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.mentalModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-brain"></i>
            {{localize "FADING_SUNS.CharacteristicParent.mind"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.mentalModifier}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.socialModifier}}
          <div class="effect-modifier {{#if (gt effectModifiers.socialModifier 0)}}positive{{else}}negative{{/if}}">
            <i class="fas fa-users"></i>
            {{localize "FADING_SUNS.CharacteristicParent.spirit"}} {{localize "FADING_SUNS.messages.EXTRA_MODIFIERS"}}: {{effectModifiers.socialModifier}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.cannotAct}}
          <div class="effect-modifier negative">
            <i class="fas fa-ban"></i>
            {{localize "FADING_SUNS.Roll.CannotAct"}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.autoFail}}
          <div class="effect-modifier negative">
            <i class="fas fa-times-circle"></i>
            {{localize "FADING_SUNS.Roll.AutoFail"}}
          </div>
          {{/if}}
          
          {{#if effectModifiers.randomTarget}}
          <div class="effect-modifier negative">
            <i class="fas fa-random"></i>
            {{localize "FADING_SUNS.Roll.RandomTarget"}}
          </div>
          {{/if}}
        </div>
      </section>
    </section>
    {{/if}}

    <section class="main grid-span-1">
        <section class="section-group">
        <div class="items-header-group">{{localize 'FADING_SUNS.messages.ResistanceChoose'}} </div>
        
        {{#if isWeapon}}
            {{#if hasTarget}}
            <div class="target-info">
                <p>{{localize 'FADING_SUNS.messages.TargetSelected'}}: <strong>{{targetName}}</strong></p>
                <p>{{localize 'FADING_SUNS.messages.ResistanceAuto'}}</p>
                
                {{#if attackProperties.length}}
                <div class="attack-properties">
                    <p>{{localize 'FADING_SUNS.messages.AttackProperties'}}:</p>
                    <ul>
                    {{#each attackProperties as |property|}}
                        <li>{{localize (concat 'FADING_SUNS.AttackProperties.' property)}}</li>
                    {{/each}}
                    </ul>
                </div>
                {{/if}}
                
                <!-- Coverage selection -->
                <div class="coverage-selection">
                    <p>{{localize 'FADING_SUNS.messages.CoverageChoose'}}:</p>
                    <div class="resources grid grid-3col">
                        <div class="resource-content flexrow flex-center flex-between radio-data">
                            <input name="coverage" type="radio" value="none" class="coverageRadio" {{#if (eq coverage "none")}} checked {{/if}}>
                            <label>{{localize 'FADING_SUNS.messages.NoCoverage'}} (+0)</label>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between radio-data">
                            <input name="coverage" type="radio" value="partial" class="coverageRadio" {{#if (eq coverage "partial")}} checked {{/if}}>
                            <label>{{localize 'FADING_SUNS.messages.PartialCoverage'}} (+3)</label>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between radio-data">
                            <input name="coverage" type="radio" value="total" class="coverageRadio" {{#if (eq coverage "total")}} checked {{/if}}>
                            <label>{{localize 'FADING_SUNS.messages.TotalCoverage'}} (+6)</label>
                        </div>
                    </div>
                </div>
                
                <!-- Final calculated difficulty display -->
                <div class="final-difficulty">
                    <p>{{localize 'FADING_SUNS.messages.FinalDifficulty'}}:</p>
                    <div class="difficulty-value">
                        <strong>{{numericResistance}}</strong>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="target-info warning">
                <p>{{localize 'FADING_SUNS.messages.NoTargetSelected'}}</p>
                <p>{{localize 'FADING_SUNS.messages.SelectTargetHint'}}</p>
            </div>
            {{/if}}
        {{else}}
          <div class='resources grid grid-3col'>

          {{#each resistancesTranslated as |item id|}}
              <div class='resource-content flexrow flex-center flex-between radio-data'>
                  <input name='resistance' type='radio' value='{{item.key}}' class='resistanceRadio' {{#if (eq ../resistance item.key)}} checked {{/if}} {{#if ../isWeapon}}{{#if ../hasTarget}}disabled{{/if}}{{/if}} action="chooseResistance">  <label for="{{item.key}}">{{item.translated}} ({{item.value}})</label>
              </div>
          {{/each}}
          </div>
        {{/if}}

        </section>
    </section>
    <footer class="sheet-footer flexrow">
         <button type="submit" name="submit" data-type="normal">
            <i class="fa fa-check"></i> {{localize 'FADING_SUNS.messages.NORMAL'}}
        </button>
         <button type="submit" name="submit" data-type="advantage">
            <i class="fa fa-arrow-up"></i> {{localize 'FADING_SUNS.messages.ADVANTAGE'}}
        </button>
        <button type="submit" name="submit" data-type="disadvantage">
            <i class="fa fa-arrow-down"></i> {{localize 'FADING_SUNS.messages.DISADVANTAGE'}}
        </button>
    </footer>
</div>
